#info.fa
  #address.fa-globe : address
  -# #email.fa-envelope= link_to_modal ": email", email_path
  #email.fa-envelope : email
  #phone.fa-phone-square : phone
  #resume.fa-file-pdf-o= link_to "view/download resume", "http://bit.ly/230PcSQ", target: "_blank"

-# TODO: email to me from a bootstrap modal?
-#       make contact stuff mandatory in f/e (i.e. field cannot be blank)
-#       or rescue from blank field
