#info
  #location
    .fa.fa-map-marker
    .textInfo : LOCATION
  #email
    .fa.fa-envelope
    .textInfo= link_to_modal ": EMAIL", email_path
  #phone
    .fa.fa-phone-square
    .textInfo : PHONE
  #resume
    .fa.fa-file-text
    .textInfo= link_to ": RESUME", "http://bit.ly/230PcSQ", target: "_blank"
