#me-container
  #photo
  -# .centering
    #media-links.fa
      #linkedin.bg
        = link_to "https://www.linkedin.com/in/michael-reed-6b524b108", target: "_blank" do
          .fa-linkedin-square
      #twitter.bg
        = link_to "https://twitter.com/myk27x", target: "_blank" do
          .fa-twitter-square
      #github.bg
        = link_to "https://github.com/myk27x",  target: "_blank" do
          .fa-github-square
      #medium
        = link_to "https://medium.com/@myk27x", target: "_blank" do
          .fa-medium
