#sectionHeader.fixed
  #sectionNames
    #section1 Who am I?
    #whiteSpace{ style: "height:32px; width: 100px;"}
    #section2 Projects
#testSpacer.fixed

#navFiller.fixed

#navbar.fixed
  .spacer
  #openContact
    .navlinks CONTACT
    = render "info"
  #toProjects
    .navlinks PROJECTS
  #toAbout
    .navlinks ABOUT

#footerOverlay.fixed
  #toTop.fa.fa-3x.fa-arrow-circle-o-up
