#navFiller.fixed

#navbar.fixed
  = link_to_modal login_path do
    #login
  - if current_user
    = link_to logout_path do
      #logout
  .links
    #toProjects
      PROJECTS
    #toAbout
      ABOUT
    #toContact
      CONTACT
      -# = render "info"

#footerOverlay.fixed
  #toTop.fa.fa-3x.fa-arrow-circle-o-up
