#sectionHeader.fixed
  #sectionNames
    #section1 Projects
    #whiteSpace{ style: "height:32px; width: 100px;"}
    #section2 Who am I?
#testSpacer.fixed

#navFiller.fixed

#navbar.fixed
  .links
    #toProjects
      PROJECTS
    #toAbout
      ABOUT
    #openContact
      CONTACT
      -# = render "info"

#footerOverlay.fixed
  #toTop.fa.fa-3x.fa-arrow-circle-o-up
