.sectionIntro#projects Projects
- if current_user
  #viewAllProjects=  link_to  "VIEW ALL", projects_path
  #newProject= link_to "NEW", new_project_path

.pusher
.projectContainer
  = render @project

.sectionIntro#about
  Who am I?
  -# #name Michael Reed
.pusher
#blurb
  -# = render "blurb"
