%br
%div
  You have a new message from michaelreed.me!
  %br
  %br
%div
  From:
  = @email[:name]
%div
  Email:
  = @email[:email]
%div
  Company:
  = @email[:company] unless nil
  %br
%div
  %br
  = @email[:reply].gsub(/\n/, '<br/>').html_safe
