%div
  Thank you
  %strong= "#{@email[:name]}!"
%br
%div
  %p
    I hope you found my site informative and easy to navigate. You can
    %br expect to hear back from me within 2 business days.
    %br Suggestions are always welcome!
  %p
    Michael Reed
    %br
    %a{:href => "michaelreed.me"}
    %br Ruby on Rails Engineer
