%div
  Thank you
  %strong= "#{@email[:name]}!"
%br
%div
  %p
    I'm going to write something here so that I can test the unverified
    %br settings for my SMTP mailgun server! This porbably won't send...
