<br>
<div>
  Thank you, <strong><%= @email[:name]%></strong>, for visiting me at <%=link_to "michaelreed.me", "http://www.michaelreed.me" %>!
</div>
<div>
  <p>
    I hope you found my site informative and easy to navigate.<br>You can expect to hear back from me within 2 business days.
  </p>
  <p>
    Michael Reed
    <br>Ruby on Rails Developer
    <br><a href="http://michaelreed.me">michaelreed.me<a/>
    <br>
    <br>P.s. Suggestions are always welcome!
</div>
