/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require jquery.modal
*/

// Slytherin color palette created by messrskoonyfootseven that consists
// 26,71,42 , 42,98,61, 93,93,93, 170~     , 0~
// #1a472a  , #2a623d , #5d5d5d , #aaaaaa  , #000000
// darkgreen, green   , darkgrey, lightgray, black

@import "font-awesome-sprockets";
@import "font-awesome";

@import url(https://fonts.googleapis.com/css?family=Arbutus);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

body {
  margin: 0;
  .modal {
    border-radius: 2px;
    width: auto;
    margin: 0;
    background: none;
    padding: 0;
  }
}
