/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require jquery.modal
*/

@import "font-awesome-sprockets";
@import "font-awesome";

@import url(https://fonts.googleapis.com/css?family=Arbutus);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

body {
  margin: 0;
  background-image: image-url('punkBG.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
