#header {
  height: 354px;
  min-height: 163px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 3s ease-in-out;
  display: flex;
}

#main {
  background: blue;
  height: 200vh;
}

#footer {
  background: yellow;
  height: 10vh;
  width: 100%;
}
