#photo {
  background-image: image-url("profile.jpg");
  background-size: 100%;
  width: 300px;
  height: 300px;
  border: solid 2px white;
  border-radius: 50%;
}

#mediaLinks {
  width: 90%;
  font-size: 32px;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0 auto;
  a {
    text-decoration: none;
    color: rgba(250, 235, 215, 0.5);
  }
  .bg {
    line-height: 27px;
    height: 26px;
    width: 23px;
    border-radius: 5px;
    &:hover {
      background: white;
    }
  }
  .bg-alt-email {
    line-height: 25px;
    height: 25px;
    width: 31px;
    border-radius: 5px;
    &:hover {
      background: red;
    }
  }
  .bg-alt-resume {
    line-height: 1;
    height: 31px;
    width: 27px;
    border-top-right-radius: 12px;
    &:hover {
      background: white;
    }
  }
  #linkedin {
    .fa-linkedin-square {
      &:hover {
        color: #007BB5;
        text-shadow: 0px 0px 10px #FFF;
      }
    }
  }
  #twitter {
    .fa-twitter-square {
      &:hover {
        color: #55ACEE;
        text-shadow: 0px 0px 10px #FFF;
      }
    }
  }
  #medium {
    font-size: 29px;
    .fa-medium {
      &:hover {
        color: lime;
        text-shadow: 0px 0px 10px #000;
      }
    }
  }
  #github {
    .fa-github-square {
      &:hover {
        color: #333;
        text-shadow: 0px 0px 10px #FFF;
      }
    }
  }
  #email {
    .fa-envelope {
      &:hover {
        color: white;
        text-shadow: 0px 0px 10px #F00;
      }
    }
  }
  #phone {
    .fa-phone-square {
      &:hover {
        color: green;
        text-shadow: 0px 0px 10px #FFF;
      }
    }
  }
  #resume {
    .fa-file-pdf-o {
      &:hover {
        color: red;
        text-shadow: 0px 0px 10px #FFF;
      }
    }
  }
}
