@media (max-width: 600px) {
  #navbar .links {
    width: 100% !important;
  }

  .altered {
    width: calc(100% - 20px)!important;
  }

}

@media (max-width: 575px) {
  #about {
    #who {
      #me {
        float: none;
        #photo {
          margin: 0 auto;
        }
      }
    }
  }
}
