.fixed {
  position: fixed;
  width: 100%;
  display: block;
}

#sectionHeader {
  height: 32px;
  background: white;
  top: 50px;
  text-align: center;
  visibility: hidden;
  #sectionNames {
    font-size: 28px;
    position: relative;
    bottom: 0px;
    #section1 {
      visibility: hidden;
    }
    #section2 {
      visibility: hidden;
    }
  }
}

#testSpacer {
  top: 82px;
  height: 2px;
  background: black;
  visibility: hidden;
}

#navFiller {
  top: 50px;
  background: #FFF8DC;
}

#navbar {
  height: 50px;
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);
  transition: color 3s ease-in-out;
  display: flex;
  .spacer {
    width: 25%;
  }
  #toAbout, #toProjects, #openContact {
    width: 25%;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
  }
  #info {
    display: none;
    flex-wrap: wrap;
    height: 181px;
    width: 100%;
    padding-left: 4px;
    background: rgba(255, 255, 255, 0.8);
    border: ridge 4px gray;
    border-right: none;
    border-radius: 5px 0 0 5px;
    #icons {
      #globe-background {
        width: 32px;
        height: 32px;
        margin: 7px 2px;
        border-radius: 100%;
        background-color: forestgreen;
        .fa-globe {
          color: aqua;
          line-height: 33px;
        }
      }
      .fa-envelope-o {
        color: black;
      }
      .fa-phone-square {
        color: green;
      }
      .fa-file-pdf-o {
        color: red;
      }
      * {
        height: 45px;
      }
    }
    #contact-text {
      text-align: left;
      line-height: 38px;
      color: black;
      * {
        height: 45px;
      }
    }
    a {
      text-decoration: none;
      &:visited {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .navlinks {
    height: 50px;
    cursor: pointer;
    padding: 0 10px;
    &:hover {
      background: (linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.1) 100%));
      color: #ADE;
    }
  }
}

#footerOverlay {
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
  -webkit-backdrop-filter: blur(2px); //only works in safari currently :'(
  display: none;
  bottom: 0;
  text-align: center;
  #toTop {
    display: inline;
    &:hover {
      cursor: pointer;
    }
  }
}
