.fixed {
  position: fixed;
  width: 100%;
  display: block;
}

#sectionHeader {
  height: 32px;
  background: white;
  top: 50px;
  border-bottom: 2px solid black;
  text-align: center;
  visibility: hidden;
  #sectionNames {
    font-size: 28px;
    position: relative;
    bottom: 0px;
    #section1, #section2 {
      visibility: hidden;
    }
  }
}

#navFiller {
  top: 50px;
  background: #FFF8DC;
}

#navbar {
  height: 50px;
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);
  transition: color 3s ease-in-out;
  .links {
    display: flex;
    width: 396px;
    height: 50px;
    margin: auto;
    #toAbout, #toProjects, #toContact {
      width: 33.3%;
      font-family: sans-serif;
      font-size: 17px;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      &:hover {
        background: (linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.1) 100%));
        color: #ADE;
      }
    }
  }
}

#login {
  position: fixed;
  top: 0px;
  width: 50px;
  height: 50px;
}
#logout {
  background: black;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 50px;
}


#footerOverlay {
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
  -webkit-backdrop-filter: blur(2px); //only works in safari currently :'(
  display: none;
  bottom: 0;
  text-align: center;
  #toTop {
    display: inline;
    &:hover {
      cursor: pointer;
    }
  }
}
