.fixed {
  position: fixed;
  width: 100%;
}

#navFiller {
  top: 50px;
  background: black;
  // background: #FFF8DC;
}

#navbar {
  height: 50px;
  // background: rgba(0,0,0, 0.5);
  .links {
    display: flex;
    width: 396px;
    height: 50px;
    margin: auto;
    #toAbout, #toProjects, #toContact {
      color: #FAEBD7;
      width: 33.3%;
      font-family: sans-serif;
      font-size: 17px;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      &:hover {
        color: white;
        font-size: 20px;
      }
    }
  }
}

#login {
  position: fixed;
  top: 0px;
  width: 50px;
  height: 50px;
}
#logout {
  background: black;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 50px;
}


#footerOverlay {
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
  -webkit-backdrop-filter: blur(2px); //only works in safari currently :'(
  display: none;
  bottom: 0;
  text-align: center;
  #toTop {
    display: inline;
    &:hover {
      cursor: pointer;
    }
  }
}
