#header {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  #container {
    width: 100%;
    height: 50vh;
    text-align: center;
    margin: auto;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    #welcome, #name, #subName {
      position: relative;
    }
    #welcome {
      position: relative;
      font-size: 60px;
      top: 0%;
    }
    #name {
      font-size: 60px;
      color: rgba(255, 255, 255, 0.8);
      top: 100%;
    }
    #subName {
      font-size: 30px;
      top: 100%;
    }
  }
  #acknowledgement {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgba(255, 255, 255, 0.4);
    a {
      color: inherit;
      &:visited {
        color: inherit;
      }
    }
  }
}

#main #projects, #about {
  padding-top: 50px;
}

#footer {
  background-color: #5D5D5D;
  height: 100vh;
}
