.projectContainer {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.project {
  background: #ddd;
  height: 275px;
  margin: 0 auto;
  margin-bottom: 50px;
  border: solid 2px black;
  .imageHolder {
    .image {
      width: 271px;
      height: 271px;
      border: solid 2px white;
      img {
        width: 100%;
      }
    }
  }
  &:hover {
    box-shadow: 0px 0px 40px 0px rgba(26,71,42,1);
  }
}

.modified {
  border-radius: 2px !important;
  width: auto !important;
  margin: 0 5% !important;
  background: none !important;
  padding: 0 !important;
  top: 10% !important;
  right: 5px !important;
  left: 5px !important;
}

.about {
  width: 100%;
  background: white;
  text-align: center;
  .title {
    margin: 0;
  }
  .description {
    font-size: 20px;
    .what {
      margin: 10px;
    }
    .how {
      margin: 10px;
      .heading {
        font-weight: bolder;
        text-decoration: underline;
        padding-bottom: 2px;
      }
      .tech {
      }
    }
  }
  .links {
    text-align: center;
    a{
      color: red;
    }
  }
}

.adminLinks {
  display: flex;
  .edit, .show, .home, .delete {
    margin: 5px auto;
  }
}

.large {
  font-size: 16px;
  height: 130px;
  width: 500px;
}

.wide {
  width: 500px;
}

.submit {
  margin-top: 10px;
}
