.container {
  padding: 25px 0;
}

.project {
  background: #ddd;
  height: 250px;
  width: 84%;
  display: flex;
  margin: 0 8%;
  border: solid 2px black;
  .left-display {
    .image {
      width: 246px;
      height: 246px;
      border: solid 2px white;
      img {
        width: 100%;
      }
    }
  }
  .about {
    text-align: center;
    .title {
      margin: 0;
    }
    .description {
      font-size: 20px;
      height: 192px;
      .what {
        height: 140px;
        width: 100%;
      }
      .how {
        font-weight: bolder;
        text-decoration: underline;
        padding-bottom: 2px;
      }
      .tech {
      }
    }
    .links {
      text-align: center;
      a{
        color: red;
      }
    }
  }
}

.edit, .show, .all {
  margin: 5px;
  float: right;
}

.large {
  font-size: 16px;
  height: 130px;
  width: 500px;
}

.wide {
  width: 500px;
}

.submit {
  margin-top: 10px;
  float: right;
}
