.projectContainer {
  width: 80%;
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
}

.project {
  background: #ddd;
  height: 275px;
  margin: 0 auto;
  margin-bottom: 50px;
  border: solid 2px black;
  .left-display {
    .image {
      width: 271px;
      height: 271px;
      border: solid 2px white;
      img {
        width: 100%;
      }
    }
  }
}

.about {
  width: 800px;
  background: white;
  text-align: center;
  .title {
    margin: 0;
  }
  .description {
    font-size: 20px;
    .what {
      margin: 10px;
    }
    .how {
      margin: 10px;
      .heading {
        font-weight: bolder;
        text-decoration: underline;
        padding-bottom: 2px;
      }
      .tech {
      }
    }
  }
  .links {
    text-align: center;
    a{
      color: red;
    }
  }
}

.admin-links {
  display: flex;
  .edit, .show, .home, .delete {
    margin: 5px auto;
  }
}

.large {
  font-size: 16px;
  height: 130px;
  width: 500px;
}

.wide {
  width: 500px;
}

.submit {
  margin-top: 10px;
}
