.project {
  height: 250px;
  width: 84%;
  display: flex;
  margin: 0 8%;
  padding: 25px 0;
  .left-display {
    width: 246px;
    border: solid 2px black;
    border-right: none;
    .image {
      width: 242px;
      height: 242px;
      border: solid 2px white;
      img {
        width: 100%;
      }
    }
  }
  .about {
    width: 75%;
    height: 246px;
    border: solid 2px black;
    border-left: none;
    .description {
      height: 228px;
      width: 100%;
      .title {
        margin: 0;
        text-align: center;
      }
    }
    .links {
      text-align: center;
      width: 100%;
      a{
        color: red;
      }
    }
  }
}
