#about {
  #name {
    position: absolute;
    top: 425px;
    left: 95px;
    margin-top: 15px;
  }
}

#blurb {
  height: 229px;
  p {
    margin: 0;
  }
}

.pusher {
  height: 71px;
}

.sectionIntro {
  padding-top: 15px;
  text-align: center;
  font-size: 28px;
}

#viewAllProjects {
  text-align: center;
  margin: 10px;
}
