#pusher {
  height: 71px;
}

.intro {
  padding-top: 15px;
  text-align: center;
  font-size: 28px;
  color: black;
}

#whoAmI {
  display: flex;
  .holder {
    width: 316px;
    display: flex;
    .spacer {
      width: 30%;
    }
    #name {
      margin-top: 15px;
      font-size: 28px;
      color: black;
    }
  }
  .blurb {
    color: black;
    width: 50%;
    padding: 0px 2px 0 10px;
  }
}
